<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "bootstrap_js_styles.html" %}
        {% load staticfiles%}
        <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
        <title>{% block title %} {{ head_title }} {% endblock %} | Imaginary Shop</title> <!-- Banner -->
    </head>
    <body>
        {% include "top_navbar.html" %}
        {% include "categories/category_navbar.html" %}

<!--
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for crumb in breadcrumb %}
                    <li class="breadcrumb-item"{% if forloop.last %} aria-current="page"{% endif %}><a href="/{{ crumb }}">{{ crumb }}</a></li>
                    {% endfor %}
                </ol>
            </nav>
        </div>
-->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">David M. Kolind &copy; <a href="https://www.nydtiden.dk">www.NydTiden.dk</a> 2019</p>
            </div>
            <!-- /.container -->
        </footer>
    </body>

</html>
