{% extends "base.html" %}
{% block content %}
<!-- Page Content -->

<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="background-image: url(/static/images/Imaginary_Banner.jpg); background-size: cover;">
        <h1 class="display-3">{{ page_title }}</h1>
        <p class="lead">{{ page_info }}</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>

    <!-- Products -->
    <h3>Top Sellers</h3>
    {% include "products/dynamic_product_list.html" with products=prod_top %}
<!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}