<div class="container">
    <div class="row">
        <div class="col-10">
            <nav class="navbar navbar-expand-lg navbar-light rounded" style="margin-top:1em; background-color: #e3f2fd;">
                <a class="navbar-brand" href="/">Categories</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% for obj in get_top_cats %}
                        <li class="nav-item">
                            <a class="nav-link" href="/category/{{ obj.safe_name }}"><button class="btn btn-outline-success" type="button">{{ obj.name }}</button></a>
                        </li>
                        {% endfor %}
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/search/">
                        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar-light rounded" style="margin-top:1em; background-color: #e3f2fd;">
                <a href="#" class="navbar-brand">
                    <i class="fas fa-shopping-cart fa-2x">0</i>
                </a>
            </nav>
        </div>
    </div>
</div>