<div class="list-group">
    {% autoescape off %}
    {{ get_side_cats }}
    {% endautoescape %}
    <!--
    {% for cat in get_side_cats %}
    <a href="/category/{{ cat }}/{{ cat }}" class="list-group-item">{{ cat }}</a>
    {% endfor %}-->
</div>