<div class="row text-center">
{% for obj in products %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
             <a href="/category/{{ obj.prim_category }}/{{ obj.id }}"><img class="card-img-top img-fluid" style="width: 100%; height: 10vw; object-fit: cover;" src="{{ obj.image }}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/category/{{ obj.prim_category.name }}/{{ obj.id }}">{{ obj.name }}</a>
                </h4>
                <p><small>Cat.: {{ obj.prim_category.name }}</small></p>
                <p class="card-text">{{ obj.short_descr }}</p>
                <p class="card-text">{{ get_currency }} {{ obj.price }}</p>
            </div>
            <div class="card-footer">
                <a href="/category/{{ obj.prim_category.name }}/{{ obj.id }}" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
{% empty %}
    <img class="d-block img-fluid" style="width: 100%; height: 100%; object-fit: cover;" src="https://garlicmysoul.com/blog/wp-content/uploads/2011/11/turkey_sign_coloring_pages.jpg" alt="Image">
{% endfor %}
<!-- Page Features -->
</div>