{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- Product Main Card -->
    <div class="row no-float mx-4 my-4">
        <!-- Image box -->
        <div class="col-lg-6 no-float">
            <div class="card">
                <img class="card-img-top img-fluid" src="{{ product.image }}" alt="900*400">
            </div>
            <!-- /.card -->
        </div>
        <!-- Short Description -->
        <div class="col-lg-6 no-float">
            <div class="card card-outline-secondary">
                <div class="card-body">
                    <h1 class="card-title">{{ product.name }}</h1>
                    <h2>{{ get_currency }}{{ product.price }}</h2>
                    <small>Art. No.: {{ product.id}} ...</small>
                    <small>Stock: {{ product.stock }}</small>
                    <p class="card-text">{{ product.short_descr }}</p>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="#">Add to basket</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Description Card -->
    <div class="row no-float mx-4 my-4">
        <div class="no-float">
            <div class="card card-outline-secondary">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <h4>{{ get_currency }}{{ product.price }}</h4>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
            </div>
        </div>
    </div>

    <h2>You might also like</h2>
    {% include "products/dynamic_product_list.html" with products=rel_prods %}

</div>
{% endblock %}