{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h3 class="my-4">{{ top_cat.name }}</h3>

            <!-- Side menu -->
            {% include "categories/category_sidebar.html" %}
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <!-- Carousel -->
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for img in prod_images %}
                    {% if forloop.first %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    {% else %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    {% endif %}
                    {% endfor %}
                </ol>

                <div class="carousel-inner" role="listbox">
                    {% for img in prod_images %}
                    {% if forloop.first %}
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" style="width: 100%; height: 20vw; object-fit: cover;" src="{{ img }}" alt="Image">
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <img class="d-block img-fluid" style="width: 100%; height: 20vw; object-fit: cover;" src="{{ img }}" alt="Image">
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- Tag menu -->
            {% if prods_cat and cat_tags %}
            <ul class="navbar-nav mr-auto list-inline">
                {% for tag in cat_tags %}
                <li class="list-inline-item">
                    <a class="nav-link" href="?param={{ tag }}"><button class="btn btn-primary" type="button">{{ tag }}</button></a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- Product -->
            {% include "products/dynamic_product_list.html" with products=prods_cat %}
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}