{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h1>Products matching Search: {{ q }}</h1>
            <!-- Products -->
            {% include "products/dynamic_product_list.html" with products=prods %}
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->

</div>
{% endblock %}